extends /layout/layout

block main
        .content--position.container.columns
            section.container.col-9
                article.hero.hero-sm.hero--gradient.text-light 
                    .hero-body
                        h3 Lorem Ipsum
                        p Lorem Ipsum dolor sit amet
                .divider
                article
                    include:metaMD content.md
                    .divider
                article
                    include:metaMD content.md
                    .divider
                article
                    include:metaMD content.md
            aside.container.col-3.bg-secondary
                //- TO-DO: complete
                ul.accordion
                    li
