extends /layout/layout

block main
        .container.columns
            section.container.col-9
                article.hero.bg-secondary 
                    h3 Latest new
                    p Lorem Ipsum dolor sit amet
                .divider
                article
                    include:metaMD content.md
                    .divider
                article
                    include:metaMD content.md
                    .divider
                article
                    include:metaMD content.md
            aside.container.col-3.bg-secondary
                h5 Read more
                p
                    include:metaMD content.md