extends /layout/layout

block main
        .content--position.container.columns
            section.container.col-9
                article.hero.hero-sm.hero--gradient.text-light 
                    .hero-body
                        h3 Lorem Ipsum
                        p Lorem Ipsum dolor sit amet
                .divider
                article
                    include:metaMD content.md
                    .divider
                article
                    include:metaMD content.md
                    .divider
                article
                    include:metaMD content.md
            aside.container.col-3.bg-secondary 
                    ul.menu.menu-nav 
                        h6 Lorem ipsum
                        li.menu-item
                            a(href='#') Element 1
                        li.menu-item
                            a(href='#') Element 2
                        li.menu-item
                            a(href='#') Element 3
                        li.menu-item
                            a(href='#') Element 4
                    .divider
                    .container
                        h6 Lorem ipsum
                        p
                            include:metaMD content-small.md


