extends /layout/layout

block main
        .container.columns
            section.bg-secondary 
                article 
                    include:metaMD content.md
        aside.bg-secondary 
            ul
                li Latest
                li Tags
                li More info