doctype html
html
    head
        meta(charset='utf-8')
        //- For responsiveness:
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title A simple website made with Mbake
        //- Spectre CSS:
        link(rel="stylesheet", href="https://unpkg.com/spectre.css/dist/spectre.min.css")
        //- In case something else needs to be added for a specific page:
        block head2
    
    body
        header.navbar
            section.navbar-section
                    a(class='navbar-brand mr-2', href='#') Logo
                    a(class='btn btn-link',href='#') Contact

        block main
        
        include /layout/footer