doctype html
html
    head
        meta(charset='utf-8')
        //- For responsiveness:
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title A simple website made with Mbake
        //- Fonts:
        link(...complete)
        //- Spectre CSS:
        link(...complete)
        //- In case something else needs to be added for a specific page:
        block head2
    
    body
        header
            h1 #{title}

        block main

        include /layout/footer